<h3>Add new people:</h3>
<form id="addperson" action="/add_new_people" method="post">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Homeworld: <select name="homeworld">
	<!-- display all planets inside this dropdown -->
        {% for p in planets %}
          <option value="{{ p[0] }}">{{ p[1] }}</option>
        {% endfor %}
    </select><br>
    Age: <input type="number" name="age"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
