<html>
<head><title>Browse people</title></head>
<h3><a href='/add_new_people'>Add new people</a></h3>

<h3>Current people</h3>
<table border='1'>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Homeworld</th>
        <th>Age</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r.0 }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[3] }}</td>
        <td> <input type='button' name='Update' value='Update'
            onclick="window.location = '/update_people/{{r[4]}}'"> </td>
        <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_people/{{r[4]}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</html>

