<h3>edit book:</h3>

<form id="update_book" action="/update_books/{{ book[4] }}" method="POST">
    <!-- character_id {{ character_id }} -->
    <input type="hidden" name="book_id" value="{{ book[4] }}">
    First name: <input type="text" name="title" value="{{ book[0] }}"><br>
    Last name: <input type="text" name="author" value="{{ book[1] }}"><br>
    Last name: <input type="text" name="genre" value="{{ book[2] }}"><br>
    Age: <input type="text" name="publisher" value="{{ book[3] }}"><br>
    <input type="submit" value="Submit">
</form>
<br /> -->