<h3>Add new people:</h3>
<form id="addbook" action="/add_new_book" method="post">
  title: <input type="text" name="book_title"><br>
  author: <input type="text" name="book_author"><br>
  genre: <input type="text" name="book_genre"><br>
  <!-- Librarian: <select name="librarian"> -->
  <!-- display all librarians inside this dropdown -->
  <!-- {% for l in librarians %}
    <option value="{{ l[0] }}">{{ l[1] }}</option>
    {% endfor %}
  </select><br> -->
  publisher <input type="text" name="book_publisher"><br>
  <input type="submit" value="Submit">
</form>
<br />