<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <title>Document</title>
</head>

<body>
    <h1>Grades</h1>
    <hr />
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/teachers">View Teachers</a></li>
            <li><a href="/classes">View Classes</a></li>
            <li><a href="/students">View Students</a></li>
            <li><a href="/grades">View Grades</a></li>
        </ul>
    </nav>
    <hr />

    <h2>Grades:</h2>
    <table>
        <thead>
            <th>Student Name:</th>
            <th>Class Name:</th>
            <th>Grade:</th>

            <th></th>
        </thead>
        <tbody>
            {% for g in grade_result %}
            <tr>
                <td>{{ g[0][0][1]}} {{ g[0][0][2]}}</td>
                <td>{{ g[2][0][1]}}</td>
                <td>{{ g[1][0][1]}}</td>
                <td> <input type='button' name='Delete' value='Delete'
                    onclick="window.location = '/delete_grade/{{g[1][0][0]}}'"> </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>

</html>