<html>
<head><title>Home</title></head>

{% if user %}
<h3>
  Welcome, {% if user[1] == "D" %}Driver{% elif user[1] == "F" %}Manager{% elif user[1] == "C" %}Customer{% endif %} {{user[2]}} {{user[3]}}
</h3>
<a href = '/logout'>Click here to log out</a>
{% else %}
You are not logged in<br>
<a href = '/login'>Click here to log in</a>
{% endif %}

{% if user[1] == "F" %}
Would you like to <a href = '/add_item'>add an item to your menu</a>?
{% endif %}

{% if user[1] == "C" %}
Would you like to <a href = '/search'>view menu items</a>?
{% endif %}

{% if user[1] == "C" %}
Would you like to <a href = '/change_address'>change your address</a>?
{% endif %}

</html>
