<!DOCTYPE html>
<html lang="en">
    <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheet.css">
        <h1>
            Library Database
        </h1>
        <p></p>
    </header>
    <body>
        <ul class="link-list">
            <a class="body-link" href="/browse_books">Books: </a>
            <a>You can add/edit/delete books.</a>
        </ul>
        <ul class="link-list">
            <a class="body-link" href="/browse_patrons">Patrons: </a>
            <a>You can add/edit/delete Patrons.</a>
        </ul>
        <ul class="link-list">
            <a class="body-link" href="/browse_librarians">Librarians: </a>
            <a>You can add/edit/delete Librarians.</a>
        </ul>
        <ul class="link-list">
            <a class="body-link" href="/browse_loans">Loans: </a>
            <a>You can add/edit/delete Loans.</a>
        </ul>
    </body>
</html>