<!DOCTYPE html>
<html lang="en">
    <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheet.css">
        <h1>
            <a href="Index.html">Home</a>
        </h1>
        <nav class="menu-nav">
            <ul>
                <li class="header">
                    <a class="link" href="Books.html">Books</a>
                </li>
                <li class="header">
                    <a class="link" href="Patrons.html">Patrons</a>
                </li>
                <li class="header">
                    <a class="link" href="Librarians.html">Librarians</a>
                </li>
                <li class="header">
                    <a class="link" href="Loans.html">Loans</a>
                </li>
            </ul>
        </nav>
    </header>
    <body>
        <ul class="link-list">
            <a class="body-link" href="Books.html">Books: </a>
            <a>You can add/edit/delete books.</a>
        </ul>
        <ul class="link-list">
            <a class="body-link" href="Patrons.html">Patrons: </a>
            <a>You can add/edit/delete Patrons.</a>
        </ul>
        <ul class="link-list">
            <a class="body-link" href="Librarians.html">Librarians: </a>
            <a>You can add/edit/delete Librarians.</a>
        </ul>
        <ul class="link-list">
            <a class="body-link" href="Loans.html">Loans: </a>
            <a>You can add/edit/delete Loans.</a>
        </ul>
    </body>
</html>