<!DOCTYPE html>
<html>
    <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheet.css">
        <h1>
            <a href="Patrons.html">Patrons</a>
        </h1>
        <nav class="menu-nav">
            <ul>
                <li class="header">
                    <a class="link" href="Books.html">Books</a>
                </li>
                <li class="header">
                    <a class="link" href="Librarians.html">Librarians</a>
                </li>
                <li class="header">
                    <a class="link" href="Loans.html">Loans</a>
                </li>
                <li class="header">
                    <a class="link" href="Index.html">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <body>
    <div class="all-body">
        <h2>This page is for adding/editing/deleting/viewing Patrons</h2>
        <table class="table-style">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Hiroto</th>
                    <th>Kazama</th>
                    <th><input type="submit" id="update" value="edit"></th>
                    <th><input type="submit" id="delete" value="delete"></th>
                </tr>
                <tr>
                    <th>Nickolas</th>
                    <th>Tucker</th>
                    <th><input type="submit" id="update" value="edit"></th>
                    <th><input type="submit" id="delete" value="delete"></th>
                </tr>
            </tbody>
        </table>
        <h3>Search for a patron</h3>
        <form class="form-name">
            <input id="fName" type="text" placeholder="First Name"><br>
            <input id="lName" type="text" placeholder="Last Name"><br>
        </form>
        <div class="submit-button">
            <button type="button">Search</button>
        </div>
        <h3>Add a patron</h3>
        <form class="form-name">
            <input id="fName" type="text" placeholder="First Name"><br>
            <input id="lName" type="text" placeholder="Last Name"><br>
        </form>
        <div class="submit-button">
            <button type="button">Add</button>
        </div>
        <form class="form-name">
        </form>
        </div>
    </div>
    </body>
</html>