<html>
{% for eachfoo in foo %}
{{eachfoo}}
{% endfor %}
<h3>Add new people:</h3>
<form id="addperson" action="/people" method="post">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Homeworld: <select name="homeworld"> 
        {% for planet in planets %}
        <option value="{{planet.id}}">{{planet.name}}</option>
        {% endfor %}
    </select><br>
    Age: <input type="number" name="age"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by homeworld </label>
    <select id='homeworld_filter' name="homeworld"> 
        {% for planet in planets %}
        <option value="{{planet.id}}">{{planet.name}}</option>
        {% endfor %}
    </select><br>
    <input type="button" value="Filter" onclick="filterPeopleByHomeworld()">
</form>

<form id='search_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form>

<h3>Current people:</h3>
<table border='1'>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Homeworld</th>
        <th>Age</th>  
    </thead> 
    <tbody>
        {% for ppl in people %}
        <tr> 
            <td>{{ppl.fname}}</td> 
            <td>{{ppl.lname}}</td> 
            <td>{{ppl.homeworld}}</td> 
            <td>{{ppl.age}}</td>
            <td><button onclick="deletePerson({{ppl.id}})">Delete</button></td>
            <td><a href="/people/{{ppl.id}}">Update</a></td>
        </tr>
        {% endfor %}
    </tbody> 
</table> 
</html>
