<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <title>The Classroom Organizer</title>
</head>

<body>

    <h1>The Classroom Organizer - Students</h1>
    <hr />
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/teachers">View Teachers</a></li>
            <li><a href="/classes">View Classes</a></li>
            <li><a href="/students">View Students</a></li>
            <li><a href="/grades">View Grades</a></li>
        </ul>
    </nav>
    <hr />
    <h2>Add Student:</h2>
    <form id="add_student" action="/add_student" method=POST>
       
        <label for="student">First Name:</label><br />
        <input type="text" id="first_name" name="first_name" /><br />
        <label for="last_name">Last Name:</label><br />
        <input type="text" id="last_name" name="last_name" /><br />
        <label for="classes">Classes:</label> <br/>

        {% for c in rows[1] %}
           
            <input type="checkbox" name="classes" value= {{ c[0]}}>{{ c[1]}} <br/>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
    <h2>Students:</h2>
    <table id="student_table">
        <thead>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th >Classes</th>

            
            <td></td>
        </thead>
           
        
      <tbody>
        {% for r in rows[0] %}
          <tr>
              <td>{{ r[0][1] }}</td>
              <td>{{ r[0][2] }}</td>
            <td>
                <ul>
                    {% for c in r[1] %}
                    <div class="grade-div">
                        <li >{{ c[0][1]}}</li>
                    {% if not c[1]%}
                    <input type='button' name='Add Grade' value='Add Grade'
                    onclick="window.location = '/add_grade/{{r[0][0]}}/{{ c[0][0]}} '">
                    {% endif %}
                    {% if c[1] %}
                    <p>Grade: {{ c[1]}}</p>
                    {% endif %}
                    </div>
                    
                    {% endfor %}
                </ul>
              

            </td>
            <!-- <td> <input type='button' name='Edit' value='Edit'
                onclick="window.location = '/update_teacher/{{r[0][0]}} '"> </td> -->
        <td> <input type='button' name='Delete' value='Delete'
                onclick="window.location = '/delete_student/{{ r[0][0]}}'"> </td>
          </tr>
        {% endfor %}
      </tbody>
            <!-- <td>Jane</td>
            <td>Doe</td>
            <td>
                <ul>
                    <li>CS161 : 100</li>
                    <li>CS162 : 100</li>
                </ul>
            </td>

            <td>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr> -->
    </table>
</body>

</html>