nav ul li {
    display: inline-block;
    padding-right: 30px;
  }
  
  li {
    list-style: none;
  }
  
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
  }
h2{
    border: 1px solid orange;
}  