<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>The Classroom Organizer</title>
</head>

<body>

    <h1>The Classroom Organizer - Teachers</h1>
    <hr />
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/teachers">View Teachers</a></li>
            <li><a href="/classes">View Classes</a></li>
            <li><a href="/students">View Students</a></li>
            <li><a href="/grades">View Grades</a></li>
        </ul>
    </nav>
    <hr />


    <!-- Form for Adding New Teachers -->
    <h2>Add a Teacher:</h2>
    <form id="add_teacher" action="/add_teacher" method=POST>
        <label for="first_name">First Name:</label><br />
        <input type="text" id="first_name" name="first_name" /><br />
        <label for="last_name">Last Name:</label><br />
        <input type="text" id="last_name" name="lname" /><br />
        <input type="submit" value="Submit" />
    </form>

    <h2>Teachers:</h2>
    <table>
        <thead>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Classes:</th>
            <th></th>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <td>{{ r[1]}}</td>
                <td>{{ r[2]}}</td>
                <td> <input type='button' name='Edit' value='Edit'
                        onclick="window.location = '/update_teacher/{{r[0]}} '"> </td>
                <td> <input type='button' name='Delete' value='Delete'
                        onclick="window.location = '/delete_teacher/{{r[0]}}'"> </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>

</html>