<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <title>The Classroom Organizer</title>
</head>
<body>
    <h1>The Classroom Organizer - Update Student</h1>
    <hr />
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/teachers">View Teachers</a></li>
            <li><a href="/classes">View Classes</a></li>
            <li><a href="/students">View Students</a></li>
            <li><a href="/grades">View Grades</a></li>
        </ul>
    </nav>
    <hr />
    <h2>Edit Student:</h2>


</body>
</html>