<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <title>The Classroom Organizer</title>
</head>
<body>
    <h1>The Classroom Organizer - Update Student</h1>
    <hr />
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/teachers">View Teachers</a></li>
            <li><a href="/classes">View Classes</a></li>
            <li><a href="/students">View Students</a></li>
            <li><a href="/grades">View Grades</a></li>
        </ul>
    </nav>
    <hr />
    <h2>Edit Student:</h2>
    <form id="update_student" action="/update_student/{{student[0][0][0]}}" method = POST>
        <label for="first_name">First Name:</label><br />
        <input type="text" id="first_name" name="first_name" /><br />
        <label for="last_name">Last Name:</label><br />
        <input type="text" id="last_name" name="lname" /><br />
        <label for="enrolled_classes">Currently Enrolled In:</label> <br/>
        {% for c in student[1]%}
        <label for={{c[0][0]}}>{{c[0][1]}}:</label><br />
        <fieldset class = "enroll" id= {{c[0][0]}}>
            <div class = "radio"> <input  type="checkbox" value={{c[0][0]}} name= "keep"> <br/>
                <label for="keep" >Keep</label></div>
            <div class = "radio">
                <input  type="checkbox" value={{c[0][0]}} name= "drop"><br/>
                <label for="drop" >Drop</label><br/>
            </div>
           
        </fieldset>
        {% endfor %}    
        <p>Add A Class:</p>
        
        {% for c in student[2]%}
        <input type="checkbox" name="new_enroll" value= {{ c[0]}}>{{ c[1]}} <br/>
        {% endfor%}
        <input type="submit" value="Submit" />
    </form>
    

</body>
</html>