# To actually use this file, you need to RENAME the file to db_credentials.py
# You will find details about your database credentials on Canvas.

# the following will be used by the db_connector.py and 
# in turn by all the Python code in this app to interact with the database

host = 'classmysql.engr.oregonstate.edu'
user = 'cs340_ONID'
passwd = 'super_secret_password'
db = 'cs340_ONID'
