<html>
<h1>Update {{person.fname}} {{person.lname}}:</h1>
<form id="update-person" action="/people" method="post">
    First name: <input type="text" name="fname" value="{{person.fname}}"><br>
    Last name: <input type="text" name="lname" value="{{person.lname}}"><br>
    Homeworld: <select name="homeworld" id="planet-selector"> 
        {% for planet in planets %}
        <option value="{{planet.id}}">{{planet.name}}</option>
        {% endfor %}
    </select><br>
    Age: <input type="number" name="age" value="{{person.age}}"><br>
</form>
<button onclick="updatePerson({{person.id}})">Update</button>
<script defer>selectPlanet({{person.homeworld}});</script>
</html>
